<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="sift" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logging_configuration</key>
            <defaultValue>external-lib</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-${logging_configuration}">
                <file>${jg.logs.dir}/jgrades_${logging_configuration}_module.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${jg.logs.dir}/jgrades_${logging_configuration}_module_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                        <MaxFileSize>1MB</MaxFileSize>
                    </triggeringPolicy>
                    <triggeringPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <MaxBackupIndex>7</MaxBackupIndex>
                    </triggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5level --> %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="logger">
        <appender-ref ref="sift" />
    </logger>

    <root  level="INFO">
        <appender-ref ref="sift"/>
    </root>

</configuration>