<?xml version="1.0" encoding="UTF-8" standalone="no"?><configuration scan="false">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE.LOGGING.LEVEL}</level>
        </filter>
        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-trace">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-${module-name-placeholder}-trace">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>TRACE</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_trace_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-debug">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-${module-name-placeholder}-debug">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>DEBUG</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_debug_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-info">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-${module-name-placeholder}-info">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>INFO</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_info_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-warn">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-${module-name-placeholder}-warn">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>WARN</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_warn_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-error">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-${module-name-placeholder}-error">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>ERROR</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_error_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-ext-trace">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-ext-trace">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>TRACE</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_trace_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-ext-debug">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-ext-debug">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>DEBUG</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_debug_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-ext-info">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-ext-info">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>INFO</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_info_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-ext-warn">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-ext-warn">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>WARN</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_warn_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILESYSTEM-ext-error">
        <discriminator>
            <key>module-name-placeholder</key>
            <defaultValue>warm-up</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFileAppender-ext-error">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>ERROR</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>src/test/resources//jg_${module-name-placeholder}_error_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level --&gt; [%c][%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILESYSTEM-ext-trace"/>
        <appender-ref ref="FILESYSTEM-ext-debug"/>
        <appender-ref ref="FILESYSTEM-ext-info"/>
        <appender-ref ref="FILESYSTEM-ext-warn"/>
        <appender-ref ref="FILESYSTEM-ext-error"/>
    </root>

    <logger additivity="false" name="org.jgrades">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILESYSTEM-trace"/>
        <appender-ref ref="FILESYSTEM-debug"/>
        <appender-ref ref="FILESYSTEM-info"/>
        <appender-ref ref="FILESYSTEM-warn"/>
        <appender-ref ref="FILESYSTEM-error"/>
    </logger>
</configuration>